<div class="footer">
    <ul>
<li>
    <a href="">Become a Seller</a>
</li>
<li>
    <a href="">Polices</a>
</li>
<li>
    <a href="">Terms and Conditions</a>
</li>
<li>
    <a href="">Help Center</a>
</li>
<li>
    <a href="">News</a>
</li>
<li>
    <a href="">Facebook</a>
</li>
<li>
    <a href="">Youtube</a>
</li>
<li>
    <a href="">Sitemap</a>
</li>
<li>
    <a href="">FAQ</a>
</li>
    </ul>
    <footer class="bg-light text-center text-lg-start">
        <div class="text-center p-3">
          © 2022 Copyright: Gaurav Singh
            </div>
      </footer>
</div>

